@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1105px;
    margin: 0 auto;
    /* font-family: Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* header */
nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    height: 32px;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul > li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: black;
}

/* banner */
.banner {
    display: flex;
    background-color: rgb(216,216,216);
    padding: 32px 24px;
    gap: 24px;
}

.banner > .left-side {
    width: 60%;
}

.banner > .left-side > img {
    width: 100%;
    height: 100%;
}

.banner > .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 0 24px;
    gap: 16px;
    color: rgb(75, 74, 75);
}

.banner > .right-side > h1 {
    font-size: 2.3rem;
}

.banner > .right-side > button {
    background-color: rgb(75, 74, 75);
    color: white;
    padding: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}