@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1105px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: rgb(75,74,75);
}

/* Header */
nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.nav-mobile {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    height: 32px;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul > li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: black;
}

/* Main */
/* 1st Section (Banner) */
.banner {
    background-color: rgb(216,216,216);
    display: flex;
    padding: 32px 24px;
    gap: 24px;
}

.banner > figure {
    width: 60%;
}

.banner > figure > img {
    display: block; /* remove extra space below image */
    width: 100%;
}

.banner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-right: 24px;
    gap: 32px;
}

.banner > div > h1 {
    font-size: 2.3rem;
}

.banner > div > h1, 
.banner > div > h3, 
.banner > div > button {
    width: 90%;
}

.banner > div > button {
    background-color: rgb(75,74,75);
    color: white;
    padding: 8px 0;
    border: none;
    cursor: pointer;
}

/* 2nd Section (Information) */
.info {
    display: flex;
}

.info-left-side {
    width: 60%;
    padding: 32px 24px;
}

.info-left-side > figure > img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}

.info-left-side > div > p:nth-child(2) {
    margin: 24px 0;
}

.info-right-side {
    width: 40%;
    border-left: 2px solid rgb(243,241,241);
}

.info-more {
    display: flex;
    border-bottom: 2px solid rgb(243,241,241);
}

.info-more:hover {
    background-color: rgb(216,216,216);
}

.info-more:nth-child(1) {
    margin-top: 16px;
}

.info-more > figure {
    width: 35%;
    margin: 16px;
}

.info-more > figure > img {
    display: block;
    width: 100%;
    height: auto;
}

.info-more > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    gap: 8px;
}

.info-more > div > a {
    color: rgb(80,148,227);
    text-decoration: none;
    font-weight: 600;
}

/* 3rd Section (Course) */
.course {
    background-color: rgb(234,235,236);
    padding: 32px 72px;
}

.course > h1 {
    text-align: center;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 32px;
}

.course-card {
    background-color: white;
}

.course-card > figure > img {
    display: block;
    width: 100%;
    height: auto;
}

.course-card > div {
    margin: 16px 16px 24px;
}

.course-card > div > p:nth-child(2) {
    margin: 8px 0;
}

/* 4th Section (Thesis) */
.thesis {
    padding: 32px 0 32px 24px;
    gap: 24px;
}

.thesis > h1 {
    text-align: center;
}

.thesis-list {
    display: flex;
    margin-top: 32px;
    gap: 24px;
}

.thesis-left-side {
    width: 60%;
}

.thesis-left-side > video {
    display: block;
    width: 100%;
}

.thesis-left-side > div {
    margin-top: 24px;
}

.thesis-left-side > div > p {
    margin-top: 8px;
}

.thesis-right-side {
    width: 40%;
}

.thesis-more {
    display: flex;
}

.thesis-more:hover {
    background-color: rgb(216,216,216);
}

.thesis-more > figure {
    width: 35%;
    padding: 16px;
}

.thesis-more > figure > img {
    display: block;
    width: 100%;
    height: auto;
}

.thesis-more > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    gap: 8px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 48px;
    border-top: 2px solid rgb(243,241,241);
}

footer > ul {
    gap: 16px;
}

@media screen and (max-width: 430px) {
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .nav-mobile ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 64px;
    }
}
