body {
    margin: 0;
    padding: 0;
}

/* header */
header {
    height: 64px;
    display: grid;
    grid-template-columns: auto auto;
}

.right-tab > nav {
    display: flex;
    justify-content: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li > a {
    float: left;
    padding-left: 16px;
}

li:nth-child(1) > a {
    padding-left: 0;
}